<h1>Editing messaging</h1>

<% form_for(@messaging) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @messaging %> |
<%= link_to 'Back', messagings_path %>