<h2>Your messages (SMS/IM)</h2>
<!--<%= link_to "Link name", { :controller => 'controller_name', :action => 'action_name' }, :class => 'someclass' -%>-->
<%= link_to 'New message', new_user_messaging_path(current_user), :class => 'special' %>
<br /><br />

<table>
  <tr class="header">
    <th>From</th>
    <th>To</th>
    <th>Text</th>
    <th>Time</th>
    <th />
    <th />
    <th />
  </tr>

  <% @messagings.each do |messaging| %>
   <tr align="center" class="row">
    <td><%=h messaging.from %></td>
    <td><%=h messaging.to %></td>
    <td><%=h messaging.text %></td>
    <td><%=h messaging.created_at %></td>
    <td class="narrow"><%= link_to 'Reply', new_user_messaging_path(current_user, { :to => messaging.from }) %></td>
    <td class="narrow"><%= link_to 'Show', user_messaging_path(current_user, messaging) %></td>
    <td class="narrow"><%= link_to 'Destroy', user_messaging_path(current_user, messaging), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
<br />
<%= will_paginate @messagings %>
<br />
