<h1>Listing voice_calls</h1>

<table>
  <tr>
    <th>To</th>
  </tr>

<% @voice_calls.each do |voice_call| %>
  <tr>
    <td><%=h voice_call.to %></td>
    <td><%= link_to 'Show', user_voice_call_path(current_user, voice_call) %></td>
    <td><%= link_to 'Edit', edit_user_voice_call_path(current_user, voice_call) %></td>
    <td><%= link_to 'Destroy', user_voice_call_path(current_user, voice_call), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New voice_call', new_user_voice_call_path(current_user) %>