<h1>your voice calls</h1>

<table>
  <tr>
    <th>To</th>
    <th>Time</th>
  </tr>

<% @voice_calls.each do |voice_call| %>
  <tr>
    <td><%=h voice_call.to %></td>
    <td><%=h voice_call.created_at %></td>
    <td><%= link_to 'Call', new_user_voice_call_path(current_user, { :to => voice_call.to }) %></td>
    <td><%= link_to 'Show', user_voice_call_path(current_user, voice_call) %></td>
    <td><%= link_to 'Destroy', user_voice_call_path(current_user, voice_call), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new voice call', new_user_voice_call_path(current_user) %>