<h1>Register</h1>

<% form_for @user, :url => account_path do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>
    <br/>
    <div>
      <%= f.label "Available Area Code for your OpenVoice number" %><br />
      <%= f.select(:prefix, options_for_select(@user.uk_numbers)) %>
    </div>
    <div>
      <%= f.label "Please add your phone number" %><br />
      <%= f.telephone_field(:default_number) %>
    </div>
    <br/>
    <%= f.submit "Register" %>
<% end %>