<h2>Contacts</h2>

<%= link_to 'New contact', new_user_contact_path(current_user) %>

<%= form_tag user_contacts_path(current_user), :method => 'get', :id => "contacts_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <br /><br />
  <%= render :partial => 'contacts' %>
<% end %>

<br />
<%= will_paginate @contacts %>
<br />

<script type="text/javascript">
  $(function () {
    $('#contacts th a, #contacts .pagination a, #contacts .pagination span').live('click', function () {
      $.getScript(this.href);
      return false;
    });

    // TODO ajax search for contact does not work
//    $('#contacts_search').submit(function () {
//      $.get(this.action, $(this).serialize(), null, 'script');
//      return false;
//    });
  });
</script>

