<h1>New Phone Number</h1>

<% form_for([:user, @phone_number]) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :number %><br/>
      <%= f.text_field :number %>
    </p>

    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', user_phone_numbers_path(current_user) %>