<h1>New Call</h1>

<% form_for([:user, @outgoing_call]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= hidden_field_tag :contact_id  %>
    <%= f.label "Contact to call" %><br />
    <%= f.autocomplete_field :callee_number, autocomplete_contact_name_user_outgoing_calls_path, :id_element => '#contact_id' %>
  </p>
  <p>
    <%= f.submit 'Call with your phone' %> Or
    <input id="call" type="button" disabled="true" value="Loading..." />
    <span id="status"></span>
  </p>
<% end %>

<%= link_to 'Back', user_outgoing_calls_path(current_user) %>

<script>
$(document).ready(function(){
  var phono = $.phono({
    apiKey: "246718baa63464f91cb348a76559d700",
    onReady: function() {
      $("#call").attr("disabled", false).val("Call with browser");
    }
  });

  $("#call").click(function() {
    $("#call").attr("disabled", true).val("Busy");

    phono.phone.dial("app:9991480119", {
      headers:[
      {
        name:"x-numbertodial",
        value:$('#outgoing_call_callee_number').val()
      }],
      onRing: function() {
        $("#status").html("Ringing");
      },
      onAnswer: function() {
        $("#status").html("Answered");
      },
      onHangup: function() {
        $("#call").attr("disabled", false).val("Call with browser");
      }
    });
  });
})
</script>