<h1>your voicemails</h1>

<table>
  <tr>
    <th>From</th>
    <th>Text</th>
    <th>Play</th>
    <th>Time</th>
  </tr>

<% @voicemails.each do |voicemail| %>
  <tr>
    <td><%=h voicemail.from %></td>
    <td><%=h voicemail.text %></td>
    <td><embed src=<%= voicemail.filename%> height="50" width="144" controls=smallconsole volume="50" autostart=false></td>
    <td><%=h voicemail.created_at %></td>
    <td><%= link_to 'Show', user_voicemail_path(current_user, voicemail) %></td>
    <td><%= link_to 'Destroy', user_voicemail_path(current_user, voicemail), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
