<div class="description">
  <p>
    OpenVoice is an light-weight, open-source web framework enabling developers to write GoogleVoice-like applications
    using RESTful APIs. Thanks to Ruby-on-Rails and Tropo, developers can create next generation telephony applications
    quickly. Under the hood, OpenVoice handles call routing/forwarding, voicemails services including transcription,
    SIP/Skype support, and IM/SMS support. Some notable differences from GoogleVoice are: open-source, API support,
    and SIP/Skype support where GoogleVoice only supports Gizmo.
  </p>

  <p>
    Read more at zhao's <a href="http://blog.myopenvoice.org/?p=93">blog entry</a>.
  </p>
</div>

<div class="login">
  <% form_for @user_session, :url => user_session_path, :html => {:class => "login"} do |f| %>
      <%= f.error_messages %>
      <%= f.label :login %>
      <br/>
      <%= f.text_field :login %>
      <br/>
      <br/>
      <%= f.label :password %>
      <br/>
      <%= f.password_field :password %>
      <br/>
      <br/>
      <%= f.check_box :remember_me %><%= f.label :remember_me %>
      <br/>
      <br/>
      <%= f.submit "Login" %>
  <% end %>
</div>

