<head>
  <title>OpenVoice - <%= controller.controller_name %>:<%= controller.action_name %></title>
  <%= stylesheet_link_tag "openvoice" %>
</head>

<body>
  <div>
    <div>
      <% unless current_user.nil? %>
      <%= link_to "voice calls", user_voice_calls_path(current_user, @voice_calls) %> |
      <%= link_to "messages", user_messagings_path(current_user, @messagings) %> |
      <%= link_to "voicemails", user_voicemails_path(current_user, @voicemails) %> |
      <%= link_to "call logs", user_call_logs_url(current_user, @call_logs) %>
      <% end %>
    </div>
    <div>
      <%= yield %>
    </div>
  </div>
</body>